<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Controller onlu" stopProcessing="true">
                    <match url="^([a-zA-Z_]+)\/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?controller={R:1}" />
                </rule>
                <rule name="Controller/Action">
                    <match url="^([a-zA-Z_]+)\/?([a-zA-Z_]+)\/?" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?controller={R:1}&amp;action={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
